PORT = 4000
MONGO_URL = 'mongodb+srv://USER:PASSWORD@cluster.example.mongodb.net/?retryWrites=true&w=majority'
jwtSecret = 'your-jwt-secret'
RIDETIMEOUT=10
# EMAIL_USER = 'your-email@example.com'
# EMAIL_PASSWORD = 'your-email-password'
# accountSid = your_twilio_account_sid
# authToken = your_twilio_auth_token
# twilioPhoneNumber = +10000000000
# STRIPE_Secret_key = sk_test_your_stripe_secret_key
# STRIPE_Publishable_key = pk_test_your_stripe_publishable_key
