<mat-toolbar id="header" class="app-header mat-elevation-z0">
  <button type="button" class="menu-toggle" (click)="toggleDrawer()" mat-icon-button aria-label="Open menu">
    <mat-icon>menu</mat-icon>
  </button>

  <div class="header-inner">
    <div class="brand-lockup">
      <img src="../../../assets/images/frontal-taxi-cab.png" alt="Eber Ride">
      <span class="brand-name">Eber Ride</span>
    </div>

    <div class="header-actions">
      <div class="bell-icon-container" (click)="checkNotificationSupport()" role="button" tabindex="0">
        <i class="fa-regular fa-bell"></i>
        <span class="notification-badge" *ngIf="notificationCounter > 0">{{ notificationCounter }}</span>
      </div>

      <button mat-icon-button [matMenuTriggerFor]="menu" class="account-btn" aria-label="Account menu">
        <span class="material-icons icon">account_circle</span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          <span>Prashant</span>
        </button>
        <button mat-menu-item (click)="onLogout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
